@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";

.button{
	display: block;
	padding: 0.5rem 1rem;
	border:0;
	color:$bg-light;
	background-color:transparent;
	text-align: center;
	border-radius:40px;
	transition: background-color .3s ease-in;
	font-weight: 700;
	border:2px solid $bg-secondary;
	&:hover,&:active{
		background-color:$bg-secondary;
		color:$bg-light;
	}
}
.filled{
			margin-left: 0.5rem;
			background-color:$bg-secondary;
			&:hover{
				background-color:transparent;
			}
}
@media screen and (min-width:768px) {
	.button{

	width: 13rem;
	font-size: 1rem;
	padding: 1.3rem 1rem;

	font-weight: 700;

}

}
