@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";
.button{

	width: 13rem;
	border:2px solid $bg-secondary;
	background-color:transparent;
	color:#fff;
	border-radius:40px;
	font-size: 1rem;
	padding: 1.3rem 1rem;
    transition: background-color .3s ease-in;
	font-weight: 700;
	&:hover,&:active{
		background-color:$bg-secondary;
	}
}
