@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
	font-family: "Poppins-Regular";
	src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins-Light";
	src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
	font-family: "Karla";
	src: url("../fonts/Karla/Karla-Regular.ttf");
}
@font-face {
	font-family: "Karla-bold";
	src: url("../fonts/Karla/Karla-Medium.ttf");
}
@font-face {
	font-family: "Karla-light";
	src: url("../fonts/Karla/Karla-Light.ttf");
}
