@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index';
@import './variables.style';
@import './reset.style';



body{
    overflow-y: scroll;
    overflow-x: hidden;
    font: 62% 'Helvetica Neue', Helvetica, Arial, sans-serif;
		line-height: 1.4em;
}

a{
    color:inherit;
    text-decoration: none !important;
    &.router-link-exact-active {
      color: #e95055;
    }
    &:hover{

      color: #e95055;

    }
}
