@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index';
@import"./brackpoint.style";
@import './variables.style';
@import './reset.style';
@import './font.style';


body{
    overflow-y: scroll;
    overflow-x: hidden;
		font:  62% "Poppins-Regular", sans-serif;
		line-height: 1.4em;
		color:rgb(129, 136, 143);
}

a{
    text-decoration: none !important;
		transition: all .3s ease-in;
    & .router-link-exact-active {
      color: #e95055;
    }
    &:hover{

      color: #e95055;

    }
}
html {
  scroll-behavior: smooth !important;
}

