@import "../../assets/scss/variables.style";
@import"../../assets/scss/mixims.style";

.projects{
    background: linear-gradient(360deg, rgba(3,2,23,1) 0, rgba(19, 17, 48, 0.77) 97%);
    padding: auto;
	margin: auto;

	.projects-container{
		padding-top: 4rem;
	}
	.filterLink{
		display: block;
		color:#fff;
		cursor: pointer;
		padding: 0.5rem 1rem;
		border:0;
		color:$bg-light;
		background-color:transparent;
		text-align: center;
		border-radius:40px;
		transition: background-color .3s ease-in;
		font-weight: 700;
		border:2px solid $bg-secondary;

   }
    .selected{
		transition: all .2s ease-in;
		background-color:$bg-secondary;
		color:$bg-light;
	}

	.fade-enter-active,.fade-leave-active{
		transition: opacity 5s transform 5s;
	}
	.fade-enter, .fade-leave-active{
		opacity: 0;
		transform: translateX(20px);
	}
.projects-filter{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	margin-top: 6rem;
	& *{
		margin-left: 1rem;
	}
}
  h2{
	position: relative;
	text-align: center;
	color:#fff;
    transition: all .3s ease-in;
	font-weight: 700;
	&::after{
		left: 5.5rem;
	}
	&::before{
		left: 0;
		top: 6rem;
	}


}


}

@media screen and (min-width:768px){
.projects{
	min-height: 80rem;
    padding: 0;
	margin: 0;
  padding-top: 5rem;

   .filterLink{

	width: 13rem;
	font-size: 1rem;
	padding: 1.3rem 1rem;
	font-weight: 700;
	color:#fff;

}
}
}

