@import "../../assets/scss/variables.style";
@import"../../assets/scss/mixims.style";

.projects{
    background: linear-gradient(180deg, rgba(3,2,23,1) 24%, rgba(19, 17, 48, 0.77) 97%);
    padding: 0;
	margin: 0;
	.projects-container{
		padding-top: 4rem;
		margin-bottom: 6rem;
	}
.projects-filter{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	margin-top: 6rem;
	& *{
		margin-left: 1rem;
	}
}
  h2{
	position: relative;
	text-align: center;
	color:#fff;
    transition: all .3s ease-in;
	font-weight: 700;
	&::after{
		left: 5.5rem;
	}
	&::before{
		left: 0;
		top: 6rem;
	}


}


}

@media screen and (min-width:768px){
.projects{
	min-height: 85rem;
    padding: 0;
	margin: 0;
	.projects-container{
		padding-top: 8rem;
	}

}
}

