@import "../../assets/scss/variables.style";
@import"../../assets/scss/mixims.style";

.service{
    background: linear-gradient(180deg, rgba(3,2,23,1) 24%, rgba(19, 17, 48, 0.77) 97%);
	height: 57rem;
	color:#fff;
     padding: 0;
	 margin: 0;
}

