@import "../../assets/scss/variables.style";
@import"../../assets/scss/mixims.style";

.services{
    background: linear-gradient(180deg, rgba(3,2,23,1) 24%, rgba(19, 17, 48, 0.77) 97%);
    padding: 0;
	margin: 0;
	.services__container{
		padding-top: 6rem;
	}
}
@media screen and (min-width:768px){
.services{
	height: 45rem;
    padding: 0;
	margin: 0;
	.services__container{
		padding-top: 8rem;
	}
}
}

