@import "../../assets/scss/variables.style";
@import"../../assets/scss/mixims.style";

.about{
    background: linear-gradient(360deg, rgba(3,2,23,1) 24%, rgba(19, 17, 48, 0.77) 97%);
	height: 57rem;
	color:#fff;

	.section__title{
  padding: 0;
   padding-top: -2rem;
  h2{
	position: relative;
	text-align: center;
	color:#fff;
    transition: all .3s ease-in;
	font-weight: 700;
	&::after{
		left: 5.5rem;
	}
	&::before{
		left: 0;
		top: 6rem;
	}
}
}

}
