@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";
@import"../../../assets/scss/brackpoint.style";
.section-title{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;

h2{
	position: relative;
	text-align: center;
	color:#fff;
    transition: all .3s ease-in;
	font-weight: 700;
	font-size: 1.6rem;

	&::after{
		content:"";
		display: block;
	    position: absolute;
		right: 0;
		left: 1rem;
		top: 5rem;
		width: 3rem;
		height: .6rem;
		background-color:$bg-secondary;
		border-radius:20px;
	}
	&::before{
		position: absolute;
		right: 0;
		left: -4rem;
		top:5.2rem;
		content:"";
		display: block;
		width: 14rem;
		height: 2px;
		background-color:#ffff;
	}
}
h6{
	text-align: center;
	font-family: "karla";
}
@media screen and ($medium){

h2{
	position: relative;
	text-align: center;
	color:#fff;
    transition: all .3s ease-in;
	font-weight: 700;
	font-size: 32px;
	&::after{
		content:"";
		display: block;
	    position: absolute;
		right: 0;
		left: 2rem;
		top: 5.6rem;
		width: 4rem;
		height: .8rem;
		background-color:$bg-secondary;
		border-radius:20px;
	}
	&::before{
		position: absolute;
		right: 0;
		left: -4rem;
		top: 6rem;
		content:"";
		display: block;
		width: 16rem;
		height: 2px;
		background-color:#ffff;
	}
}
h6{
	text-align: center;
	font-family: "karla";
}
}
}
