@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";
@import "../../../assets/scss/brackpoint.style";

.project-card{
	text-align: center;
	width: 100%;
	min-height: 338px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:flex-start;
	transition: background-color .3s ease-in;
	img {
	display: block;
	width: 100%;
	min-height: 338px;
	object-fit: cover;
	border-radius: 20px;
	transition: all .5s ease;
	transform: scale(1);
	}
    .overlay {
		position: absolute;
		bottom: 0;
		left: 3.9%;
		right: 0;
		box-shadow: 200px -800px 3px 75px #030417f5 inset;
		overflow: hidden;
		width: 92%;
		height: 55%;
		transition: .5s ease;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		text-align: center;
		h4{font-size: 1.5rem;}
	}
	.card-description{
		display: none;
	}
	.card-link{
		display: none;
	}
	p,h5{
		font-family: "Karla";
	}
	span{
		font-size: 1rem;
		color:$bg-secondary;
		text-transform: uppercase;
		display: inline;

	}
	&:hover .overlay {
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		cursor:pointer;
		box-shadow: 200px -800px 3px 75px #030417c9 inset;
		h4{font-size: 2rem;}
		 .card-link{

				display: flex;
				flex-direction: row;
				align-items:center;
				justify-content: center;
		}

   }
   .technos {
	   padding: 0 1rem;
	   text-align: center;

   }
   p{
	   font-size: 1rem;

   	}
   &:hover{
	.card-description{
		display: block;
	}
   }

	&:hover,&:active{

		color:#fff;
	img{
		color:#fff;
		transition: all .5s ease;
	}
	}
	h4{
		font-weight: 700;
	}
	p{
		font-size: 1rem;
		font-weight: 100;
	}
	.fas{
		font-size: 4rem;
		color:$bg-secondary;
		margin-bottom: 1.5rem;
    }
	a{
		color:rgb(199, 207, 231);
		&:hover,&:active{
			color:$bg-secondary;
		}
	}
}

@media screen and ($medium){
.project-card{
    margin-bottom: 0;
	h4{
		font-weight: 700;
	}
	p{
		font-size: 1rem;
		font-weight: 100;
		line-height: 1.5;
		font-family: "karla";
		margin-top: 1rem;
	}
	.fas{
		font-size: 4rem;
		color:$bg-secondary;
		margin-bottom: 1.5rem;
    }
}
}
