@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";

.project-card{
	text-align: center;
	width: 100%;
	min-height: 338px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	transition: background-color .3s ease-in;
	img {
	display: block;
	width: 100%;
	min-height: 338px;
	object-fit: cover;
	border-radius: 20px;
	}
    .overlay {
		position: absolute;
		bottom: 0;
		left: 3.9%;
		right: 0;
		box-shadow: 200px -800px 3px 75px #030417e5 inset;
		overflow: hidden;
		width: 92%;
		height: 40%;
		transition: .5s ease;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
	}
	&:hover .overlay {
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		cursor:pointer;
		box-shadow: 200px -800px 3px 75px #030417c9 inset;
   }

	&:hover,&:active{

		color:#fff;
	img{
		font-size: 4rem;
		color:#fff;
		transition: all .5s ease;
	}
	}
	h4{
		font-weight: 700;
	}
	p{
		font-size: 1rem;
		font-weight: 100;
		line-height: 1.5;
		font-family: "karla";
		margin-top: 1rem;
	}
	.fas{
	font-size: 4rem;
	color:$bg-secondary;
	margin-bottom: 1.5rem;
    }
	a{
		color:$bg-secondary;
		&:hover,&:active,&:visited{
			color:$bg-secondary;
		}
	}
}

@media screen and (min-width:768px){
.project-card{
    margin-bottom: 0;
	h4{
		font-weight: 700;
	}
	p{
		font-size: 1rem;
		font-weight: 100;
		line-height: 1.5;
		font-family: "karla";
		margin-top: 1rem;
	}
	.fas{
	font-size: 4rem;
	color:$bg-secondary;
	margin-bottom: 1.5rem;
    }
}
}
