@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";

.card-project{
	text-align: center;
	width: 100%;
	min-height: 338px;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items:space-between;
	background: #49485f;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	transition: background-color .3s ease-in;
	padding: 1rem 1.5rem;
	margin-bottom: 1.5rem;
    cursor: pointer;
	&:hover,&:active{
		background-color:$bg-secondary;
		color:#fff;
	.fas{
		font-size: 4rem;
		color:#fff;
		transform: scaleX(-1);
		transition: all .5s ease;
	}
	}
	h4{
		font-weight: 700;
	}
	p{
		font-size: 1rem;
		font-weight: 100;
		line-height: 1.5;
		font-family: "karla";
		margin-top: 1rem;
	}
	.fas{
	font-size: 4rem;
	color:$bg-secondary;
	margin-bottom: 1.5rem;
    }
	.card-project-image{
		width: 100%;
	}
}

@media screen and (min-width:768px){
.card-project{
    margin-bottom: 0;
	h4{
		font-weight: 700;
	}
	p{
		font-size: 1rem;
		font-weight: 100;
		line-height: 1.5;
		font-family: "karla";
		margin-top: 1rem;
	}
	.fas{
	font-size: 4rem;
	color:$bg-secondary;
	margin-bottom: 1.5rem;
    }
}
}


