@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";
@import "../../../assets/scss/brackpoint.style";


.logo{
	font-size: 1.6rem;
	position: relative;
	top:0;
	left: -1rem;
	& .logo-code{
		width: 100%;
		height: auto;
		box-shadow: 100px -10px 180px $bg-light inset;
		border-radius: 100%;
		padding: 0 .4rem;
		color:$bg-secondary;
	}
}
.center{
			text-align: center;
}
.left{
	text-align: left;
}
span{
	color:$bg-secondary;
	transition: all .5s ease-in;
	&:hover{
		color:$bg-light;
	}
}
a:hover{
	span{
		color:$bg-light;
	}
}

@media ($medium){
	.logo{
		font-size: 2rem;
		font-weight: 800;
		position: relative;
		top:0;
		right: 0;
		left: 0;

	}
}
