@import "../../../assets/scss/variables.style";
@import"../../../assets/scss/mixims.style";


.logo{
	font-size: 1.8rem;
}
.center{
			text-align: center;
}
.left{
	text-align: left;
}
span{
	color:$bg-secondary;
}

